
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search Engine</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/index.css" rel="stylesheet">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center" style="background: url(/query/{{imgQuery}}) no-repeat center center fixed; background-size: cover;">
        <div class="container">
		  <h1 class="jumbotron-heading">Finder</h1>
		  <form method="POST" action="/" enctype="multipart/form-data">
			  <div class="input-group">
					<input type="text" name="query_type" class="form-control" placeholder="Type ... (vgg, color, objects)">
					<div class="input-group-append">
						<input style="display: none;" type="file" name="file" id="upload-file"/>
						<button class="btn btn-secondary" type="button" onclick="document.getElementById('upload-file').click()">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
						</button>
						<button class="btn btn-primary" type="submit">
							Search
						</button>
					</div>
			  </div>
		  </div>
        </div>
	  </section>

	  {% if results|length > 1 %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
			  {% for (score, resultID) in results%}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/{{resultID}}" alt="Card image cap">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
					<span class="float-right text-muted">{{score}}</span>
                    <div class="btn-group">
                      <a href="/similar/{{resultID}}" class="btn btn-sm btn-outline-secondary">Similar to this?</a>
                    </div>
                  </div>
                </div>
              </div>
			</div>
			{% endfor %}
          </div>
        </div>
	  </div>
	  {% endif %}

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
